@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.home {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  width: 250px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

nav ul li a:hover {
  transition: color 0.2s, font-size 0.2s;
  color: #cfe9ff;
  text-decoration: underline;
  font-size: 1.2em;
}

.content {
  text-align: center;
}

.content h1 {
  font-size: 160px;
  color: #fff;
  font-weight: 600;
}

.content h1:hover {
  transition: color 0.2s;
  color: #cfe9ff;
}

.content p {
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
}

.content p:hover {
  color: transparent;
  border: 0px solid #fff;
}

.content p::before {
  content: attr(data-text);
  border: 2px solid #fff;
  padding: 14px 20px;
  border-radius: 50px;
  width: 1500px;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  text-align: center;
}

.content p:hover::before {
  opacity: 1;
}

.content ul {
  border: 2px solid #fff;
  border-radius: 50px;
}

.content li {
  font-size: 20px;
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1em;
  padding: 0;
  position: relative;
  cursor: pointer;
  color: #fff;
  transition: color 0.3s;
}

.content li:hover {
  color: transparent;
}

.content li::before {
  content: attr(data-text);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.content li:hover::before {
  opacity: 1;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}
